$pink: #F2B3D1;
$yellow: #FCDD9A;
$green: #CCE193;

html, * {
    padding: 0;
    margin: 0;
}
html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.yellow-bg {
    background-color: $yellow;
}
.white {
    color: white;
}

.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.green-underline {
    // border-radius: 10px;
    // box-shadow: 0 40px 0 0 $green;
    // height: 5px;
    // width: fit-content;

    // &::after {
    //     content: ""; 
    //     float: left; 
    //     background: $green; 
    //     width: 100%; 
    //     height: 6px; 
    //     border-radius: 3px;
    // }

    border-bottom: 5px solid $green;
    padding-bottom: 5px;
    width: fit-content;
}

// highlighted tab on current page
.home-body #home-nav,
.chara-body #chara-nav,
.media-body #media-nav,
.about-body #about-nav {
    background-color: white;
}

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    letter-spacing: 1px;
    text-align: center;
    padding: 15px;

    img {
        background-color: white;
        border-radius: 20px;
        padding: 10px 15px;
        width: 100%;
        max-width: 300px;
    }

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        font-weight: bold;
        font-size: 18px;

        li {
            padding-left: 10px;
            padding-right: 10px;

            a {
                color: black;
                border-bottom: 2px solid transparent;
                transition: 0.15s;
                padding: 10px 15px;
                border-radius: 20px;

                &:hover {
                    color: black;
                    background-color: white;
                }
            }
        }
    }
}

.container {
    padding: 20px;
}

.header-padding {
    padding-top: 100px;
}

#landing {
    min-height: 100vh;

    .landing-img {
        min-height: 70vh;
    }

    .landing-motto {
        min-height: 30vh;
        background-color: $pink;
    }
}

footer {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    padding: 40px;

    * {
        padding: 0;
        margin: 0;
    }

    .row {
        width: 100%;
    }

    ul {
        list-style: none;
    }
}