@import url("https://use.typekit.net/vfe8axl.css");
html, * {
  padding: 0;
  margin: 0;
  font-family: "sofia-pro", sans-serif;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.yellow-bg {
  background-color: #FCDD9A;
}

.white {
  color: white;
}

.pink {
  color: #F2B3D1;
}

.green {
  color: #CCE193;
}

.yellow {
  color: #FCDD9A;
}

.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.green-underline {
  border-bottom: 6px solid #CCE193;
  padding-bottom: 7px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

img.green-underline {
  margin-bottom: 10px;
}

.yellow-underline {
  border-bottom: 6px solid #FCDD9A;
  padding-bottom: 7px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bg-music {
  display: none;
}

.title {
  font-weight: 600;
  letter-spacing: 3px;
}

.home-body #home-nav,
.chara-body #chara-nav,
.media-body #media-nav,
.about-body #about-nav {
  background-color: white;
}

.lines-button {
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 0;
}

.lines-button .lines {
  margin-left: -50%;
}

.lines-button .lines:before {
  top: 0.53333rem;
}

.lines-button .lines:after {
  top: -0.53333rem;
}

.lines {
  display: inline-block;
  width: 1.6rem;
  height: 2px;
  background: black;
  border-radius: 0.11429rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  top: -5px;
  /*create the upper and lower lines as pseudo-elements of the middle line*/
}

.lines:before, .lines:after {
  display: inline-block;
  width: 1.6rem;
  height: 2px;
  background: black;
  border-radius: 0.11429rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.11429rem center;
          transform-origin: 0.11429rem center;
}

.lines:before {
  top: 0.4rem;
}

.lines:after {
  top: -0.4rem;
}

.lines-button.x.close .lines {
  /*hide the middle line*/
  background: transparent;
  /*overlay the lines by setting both their top values to 0*/
}

.lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  top: 0;
  width: 1.6rem;
}

.lines-button.x.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
          transform: rotate3d(0, 0, 1, 45deg);
}

.lines-button.x.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
          transform: rotate3d(0, 0, 1, -45deg);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  z-index: 100;
  letter-spacing: 1px;
  text-align: center;
  padding: 15px;
}

header .logo-text {
  background-color: white;
  border-radius: 20px;
  padding: 10px 15px;
  width: 100%;
  max-width: 275px;
}

header .logo-img {
  display: none;
  visibility: hidden;
  background-color: white;
  width: 60px;
  padding: 7px;
  border-radius: 50%;
}

header #menu-icon, header #menu-icon ~ label, header input[type=checkbox] {
  display: none;
  z-index: 5;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

header ul li {
  padding-left: 10px;
  padding-right: 10px;
}

header ul li a {
  color: black;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  padding: 5px 12px;
  border-radius: 20px;
}

header ul li a:hover {
  color: black;
  background-color: white;
}

.full-height {
  min-height: calc(100vh - 70px - 12px);
}

.container {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-padding {
  padding-top: calc(70px + 30px);
}

#landing {
  padding-top: 70px;
}

#landing .landing-img, #landing .carousel-item {
  max-height: calc(80vh - 70px);
  position: relative;
  z-index: 1;
}

#landing .landing-img img, #landing .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
}

#landing .landing-motto {
  height: 40vw;
  max-height: 20vh;
  position: relative;
  background-color: #F2B3D1;
  padding: 20px;
  z-index: 50;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

footer * {
  padding: 0;
  margin: 0;
}

footer .row {
  width: 100%;
}

footer ul {
  list-style: none;
}

footer a {
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: 2px solid transparent;
}

footer a:hover {
  color: black;
  border-bottom: 2px solid black;
}

footer .icons a:hover {
  color: white;
  border-bottom: 2px solid transparent;
}

footer .copyright {
  text-align: end;
  margin-left: auto;
}

.image-caption {
  position: relative;
}

.image-caption .caption {
  background-color: rgba(242, 179, 209, 0.5);
  position: absolute;
  padding: 10px;
  bottom: 15px;
  width: 100%;
  z-index: 3;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.image-caption a {
  color: black;
}

.image-caption a:hover .caption {
  background-color: #f2b3d1;
}

@media screen and (max-width: 990px) {
  header .logo-text {
    display: none;
    visibility: hidden;
  }
  header .logo-img {
    display: block;
    visibility: visible;
  }
  footer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  footer .copyright {
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  header #menu-icon ~ label, header input[type=checkbox] {
    display: block;
  }
  header #menu-icon:checked ~ .collapsible-menu {
    height: 175px;
  }
  header #menu-icon:checked .lines {
    /*hide the middle line*/
    background: transparent;
    /*overlay the lines by setting both their top values to 0*/
  }
  header #menu-icon:checked .lines:before, header #menu-icon:checked .lines:after {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    top: 0;
    width: 1.6rem;
  }
  header #menu-icon:checked .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
  }
  header #menu-icon:checked .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
  }
  header .collapsible-menu {
    display: block;
    position: fixed;
    background-color: #FCDD9A;
    height: 0;
    width: 100%;
    top: 70px;
    left: 0;
    z-index: 10;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: hidden;
  }
  header .collapsible-menu ul {
    display: block;
  }
  header .collapsible-menu ul li {
    padding-top: 12px;
  }
  header ul {
    height: 0;
  }
}
/*# sourceMappingURL=styles.css.map */